---
import "../styles/global.css";
import logo from "../assets/logo.png";
import { Image } from "astro:assets";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Prop Culture Flight Club</title>
    </head>
    <body>
        <div class="container mx-auto p-2">
            <Image
                src={logo}
                alt="Prop Culture FPV Logo"
                class="w-full px-4 mx-auto max-w-2xl rounded-full"
            />
            <div class="mx-auto max-w-xl flex justify-center mt-8">
                <a
                    href="https://discord.gg/8QJS2Ydu"
                    class="outline-1 outline-gray-400 p-4"
                    >Join the Discord Community</a
                >
            </div>
        </div>
    </body>
</html>
